---
title: Projects
layout: base.njk
---

<div class="project-grid-index">
  {% for project in projects %}
  {% if project.thumbnail %}
  <div class="project-entry">
    <a href="/projects/{{ project.slug }}/">
      <img src="{{ project.thumbnail }}" alt="{{ project.title }}" loading="lazy">
    </a>
    <div class="project-entry-meta">
      <a href="/projects/{{ project.slug }}/" class="project-entry-title">{{ project.title }}</a>
      <span class="project-entry-details">{{ project.studio }}{% if project.year %}, {{ project.year }}{% endif %}</span>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>