---
title: Press
layout: base.njk
---

<div class="text-page">
  <div class="press-list">
    <div class="press-item">
      <span class="press-source">Publication Name</span>
      <span class="press-title">Article Title</span>
      <span class="press-date">2023</span>
      <p class="press-excerpt">A sentence of descriptive text about the press item goes here.</p>
    </div>
  </div>
</div>