---
title: Anthropocene
year: "2017"
layout: project.njk
images:
  - src: /assets/images/anthropocene/01.jpg
    title: Cisgenia
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/02.jpg
    title: City
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/03.jpg
    title: Collection
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/04.jpg
    title: Espalier
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/05.jpg
    title: Figures
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/06.jpg
    title: Hydrocracker
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/07.jpg
    title: Anthropocene
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/08.jpg
    title: Monster Storm
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/09.jpg
    title: Soul Spirit
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/10.jpg
    title: Stair Geist
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/11.jpg
    title: Tornado Alley
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/12.jpg
    title: Still Life
    medium: Oil on canvas
    dimensions: 34 x 38 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/13.jpg
    title: Tree
    medium: Oil on canvas
    dimensions: 28 x 38 inches
    date: 2017
    collection:
  - src: /assets/images/anthropocene/14.jpg
    title: Spontaneously Erupting Airborne Clowns #1
    medium: Oil and shellac on paper
    dimensions: 23 x 32 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/15.jpg
    title: Spontaneously Erupting Airborne Clowns #2
    medium: Oil and shellac on paper
    dimensions: 23 x 32 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/anthropocene/16.jpg
    title: Spontaneously Erupting Airborne Clowns #3
    medium: Oil and shellac on paper
    dimensions: 23 x 32 inches
    date: 2017
    collection:
---
