---
title: Archive of the 20th Century
year: "1992"
layout: project.njk
images:
  - src: /assets/images/archive-of-the-20th-century/01.jpg
    title: Natural History of Rosa
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1988-1990"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/02.jpg
    title: Constellation Pinocchio
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1988-1990"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/03.jpg
    title: Peoples of the Northeast
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1988-1990"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/04.jpg
    title: Wak Wak Tree
    medium: Oil on canvas
    dimensions: ~52 x 50 inches
    date: "~1991"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/05.jpg
    title: Panoptikon
    medium: Oil on canvas
    dimensions: ~48 x 48 inches
    date: "~1991"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/06.jpg
    title: Some Thoughts
    medium: Oil on canvas
    dimensions: ~48 x 48 inches
    date: "~1986"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/07.jpg
    title: Motley
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1984"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/08.jpg
    title: Pony
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1986-1988"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/09.jpg
    title: Hat Trick
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1986-1988"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/10.jpg
    title: Vases
    medium: Oil on canvas
    dimensions: ~48 x 48 inches
    date: "~1990"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/11.jpg
    title: The Hunter
    medium: Oil on canvas
    dimensions: ~52 x 52 inches
    date: "~1986-1988"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/12.jpg
    title: Apparition
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1990"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/13.jpg
    title: The Point
    medium: Oil on canvas
    dimensions: ~16 x 20 inches
    date: "~1990"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/14.jpg
    title: Card Game
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1988"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/15.jpg
    title: Untitled
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1990"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/16.jpg
    title: Dwarf Puppet Execution by Guillotine
    medium: Oil on canvas
    dimensions: ~60 x 52 inches
    date: "~1989"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/17.jpg
    title: Flawed Love
    medium: Oil on canvas
    dimensions: ~52 x 52 inches
    date: "~1989"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/18.jpg
    title: Untitled No. 1
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/19.jpg
    title: Ramona
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/20.jpg
    title: Untitled No. 2
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/21.jpg
    title: Untitled No. 3
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/22.jpg
    title: Loaf
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/23.jpg
    title: Some Pictures
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/24.jpg
    title: Floating Castles No. 1
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1989"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/25.jpg
    title: Garden of Sorts
    medium: Oil on canvas
    dimensions: ~48 x 48 inches
    date: "~1989"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/26.jpg
    title: Elevation
    medium: Oil on canvas
    dimensions: ~56 x 48 inches
    date: "~1988"
    collection: 
  - src: /assets/images/archive-of-the-20th-century/27.jpg
    title: Floating Castles No. 2
    medium: Oil on canvas
    dimensions: ~72 x 58 inches
    date: "~1989"
    collection: Private collection
  - src: /assets/images/archive-of-the-20th-century/28.jpg
    title: Stumptown
    medium: Oil on canvas
    dimensions: ~54 x 56 inches
    date: "~1983"
    collection: Corporate collection
  - src: /assets/images/archive-of-the-20th-century/29.jpg
    title: Figure
    medium: Oil on canvas
    dimensions: ~68 x 40 inches
    date: "~1982"
    collection: Private collection
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/archive-of-the-20th-century/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---