---
title: Banners & Inscriptions
year: "1986"
layout: project.njk
images:
  - src: /assets/images/banners-and-inscriptions/01.jpg
    title: Natural History of Rosa
    medium: Oil on canvas
    dimensions: 68 x 48 inches
    date: "1986"
    collection: Private collection
  - src: /assets/images/banners-and-inscriptions/02.jpg
    title: Native Americans of the Northeast
    medium: Oil on canvas
    dimensions: 68 x 48 inches
    date: "1986"
    collection: 
  - src: /assets/images/banners-and-inscriptions/03.jpg
    title: Tangle
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: "1985"
    collection: 
  - src: /assets/images/banners-and-inscriptions/04.jpg
    title: Motley
    medium: Oil on canvas
    dimensions: 68 x 54 inches
    date: "1984"
    collection: 
  - src: /assets/images/banners-and-inscriptions/05.jpg
    title: Solipsisms
    medium: Oil on canvas
    dimensions: 68 x 54 inches
    date: "1985"
    collection: Private collection
  - src: /assets/images/banners-and-inscriptions/06.jpg
    title: Fantasy No. 1
    medium: Oil on canvas
    dimensions: 56 x 48 inches
    date: "1986"
    collection: 
  - src: /assets/images/banners-and-inscriptions/07.jpg
    title: Seals and Worms
    medium: Oil on canvas
    dimensions: 68 x 54 inches
    date: "1986"
    collection: 
  - src: /assets/images/banners-and-inscriptions/08.jpg
    title: Castles
    medium: Oil on canvas
    dimensions: 48 x 24 inches
    date: "1986"
    collection: 
  - src: /assets/images/banners-and-inscriptions/09.jpg
    title: Banners
    medium: Oil on paper
    dimensions: 22 x 33 inches
    date: "1986"
    collection: 
  - src: /assets/images/banners-and-inscriptions/10.jpg
    title: Fantasy No. 2
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: "1986"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/banners-and-inscriptions/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: "0000"
  #   collection:
---