---
title: Bonsai Garden
year: "2017"
layout: project.njk
images:
  - src: /assets/images/bonsai-garden/01.jpg
    title: Forest Floor #1
    medium: Oil on board
    dimensions: 4 x 4 inches
    date: 2016
    collection:
  - src: /assets/images/bonsai-garden/02.jpg
    title: The Count Plays Violin for the Peasants
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2017
    collection:
  - src: /assets/images/bonsai-garden/03.jpg
    title: Fungi
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2017
    collection: Private collection
  - src: /assets/images/bonsai-garden/04.jpg
    title: Hatch
    medium: Acrylic on board
    dimensions: 14 x 20 inches
    date: 2016
    collection: Private collection
  - src: /assets/images/bonsai-garden/05.jpg
    title: Genetics
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2016
    collection:
  - src: /assets/images/bonsai-garden/06.jpg
    title: Repro #1
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2015
    collection:
  - src: /assets/images/bonsai-garden/07.jpg
    title: Towers
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2015
    collection:
  - src: /assets/images/bonsai-garden/08.jpg
    title: Repro #2
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2015
    collection:
  - src: /assets/images/bonsai-garden/09.jpg
    title: Untitled
    medium: Acrylic and rubber on board
    dimensions: 12 x 16 inches
    date: 2015
    collection: Private collection
  - src: /assets/images/bonsai-garden/10.jpg
    title: Skin
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2015
    collection: Private collection
  - src: /assets/images/bonsai-garden/11.jpg
    title: Gardener
    medium: Acrylic on board
    dimensions: 12 x 16 inches
    date: 2015
    collection: Private collection
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/bonsai-garden/12.jpg
  #   title: Title of work
  #   medium: Acrylic on board
  #   dimensions: 00 x 00 inches
  #   date: 2015
  #   collection: Private collection
---
