---
title: Cliffs
year: "2020"
layout: project.njk
images:
  - src: /assets/images/cliffs/01.jpg
    title: Looking East
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/02.jpg
    title: Above Trees
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/03.jpg
    title: A Pillar
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/04.jpg
    title: A Tower
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/05.jpg
    title: A Wall
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/06.jpg
    title: Looking North
    medium: Gouache and pencil on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/07.jpg
    title: The Overpasses with Snow
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2020"
    collection: 
  - src: /assets/images/cliffs/08.jpg
    title: Rocks and Leaves on the Steep
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2019"
    collection: 
  - src: /assets/images/cliffs/09.jpg
    title: Trees and Rocks on a Slope
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2019"
    collection: 
  - src: /assets/images/cliffs/10.jpg
    title: A Prominence
    medium: Gouache on paper
    dimensions: 26 x 36 cm
    date: "2019"
    collection: 
  - src: /assets/images/cliffs/11.jpg
    title: Broken Landscape
    medium: Gouache and pen on paper
    dimensions: 26 x 36 cm
    date: "2019"
    collection: 
  - src: /assets/images/cliffs/12.jpg
    title: A Narrow
    medium: Gouache and pen on paper
    dimensions: 26 x 36 cm
    date: "2019"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/cliffs/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---