---
title: Early Work
year: "1984"
layout: project.njk
images:
  - src: /assets/images/early-work/01.jpg
    title: Loose Change
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1983"
    collection: 
  - src: /assets/images/early-work/02.jpg
    title: Ramona in the City
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1983"
    collection: 
  - src: /assets/images/early-work/03.jpg
    title: Interior No. 1
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1983"
    collection: 
  - src: /assets/images/early-work/04.jpg
    title: Interior No. 2
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1983"
    collection: 
  - src: /assets/images/early-work/05.jpg
    title: Some Pictures
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1984"
    collection: 
  - src: /assets/images/early-work/06.jpg
    title: Stumptown
    medium: Oil on canvas
    dimensions: 52 x 48 inches
    date: "1983"
    collection: Indianapolis Museum of Art
  - src: /assets/images/early-work/07.jpg
    title: Untitled Portrait
    medium: Oil on board
    dimensions: 24 x 18 inches
    date: "1982"
    collection: 
  - src: /assets/images/early-work/08.jpg
    title: Hunting
    medium: Oil on board
    dimensions: 32 x 24 inches
    date: "1982"
    collection: 
  - src: /assets/images/early-work/09.jpg
    title: Landscape
    medium: Oil on board
    dimensions: 32 x 24 inches
    date: "1982"
    collection: 
  - src: /assets/images/early-work/10.jpg
    title: Fun Fighting in the Forest
    medium: Oil on board
    dimensions: 32 x 24 inches
    date: "1982"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/early-work/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: "0000"
  #   collection:
---