---
title: Gag Furniture
year: "2010"
layout: project.njk
images:
  - src: /assets/images/gag-furniture/01.jpg
    title: Diatribe
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: Private collection
  - src: /assets/images/gag-furniture/02.jpg
    title: Evolution
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: Private collection
  - src: /assets/images/gag-furniture/03.jpg
    title: Trials
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: 
  - src: /assets/images/gag-furniture/04.jpg
    title: Drinking Alone
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: Private collection
  - src: /assets/images/gag-furniture/05.jpg
    title: Small Gestures
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: 
  - src: /assets/images/gag-furniture/06.jpg
    title: Wall Safe
    medium: Conté on paper
    dimensions: 36 x 24 inches
    date: "2010"
    collection: Private collection
  - src: /assets/images/gag-furniture/07.jpg
    title: Domination
    medium: Conté on paper
    dimensions: 24 x 36 inches
    date: "2010"
    collection: 
  - src: /assets/images/gag-furniture/08.jpg
    title: Shells
    medium: Conté on paper
    dimensions: 12 x 9 inches
    date: "2010"
    collection: 
  - src: /assets/images/gag-furniture/09.jpg
    title: Bully
    medium: Conté on paper
    dimensions: 12 x 9 inches
    date: "2010"
    collection: 
  - src: /assets/images/gag-furniture/10.jpg
    title: Subservience
    medium: Conté on paper
    dimensions: 24 x 18 inches
    date: "2010"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/gag-furniture/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---