---
title: Gothic Interiors
year: "2010-2012"
layout: project.njk
images:
  - src: /assets/images/gothic-interiors/01.jpg
    title: Inversion
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/02.jpg
    title: Fledgling
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/03.jpg
    title: Untitled
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/04.jpg
    title: Grotesque
    medium: Chalk on printmaking paper
    dimensions: 12 x 9 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/05.jpg
    title: Tree
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/06.jpg
    title: Torasik
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/07.jpg
    title: Pose
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2012
    collection:
  - src: /assets/images/gothic-interiors/08.jpg
    title: Sigil
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2012
    collection:
  - src: /assets/images/gothic-interiors/09.jpg
    title: Hidden Truths
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2010-2011
    collection:
  - src: /assets/images/gothic-interiors/10.jpg
    title: Amalgam
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2012
    collection:
  - src: /assets/images/gothic-interiors/11.jpg
    title: Armor
    medium: Chalk on printmaking paper
    dimensions: 17 x 12 inches
    date: 2012
    collection:
---