---
title: Late 20th Century
year: "1991"
layout: project.njk
images:
  - src: /assets/images/late-20th-century/01.jpg
    title: Constellation Pinocchio
    medium: Oil on canvas
    dimensions: 60 x 52 inches
    date: "1990"
    collection: Private collection
  - src: /assets/images/late-20th-century/02.jpg
    title: Pony
    medium: Oil and glue on canvas
    dimensions: 56 x 54 inches
    date: "1989"
    collection: Private collection
  - src: /assets/images/late-20th-century/03.jpg
    title: The People Tree
    medium: Oil and glue on canvas
    dimensions: 48 x 46 inches
    date: "1989"
    collection: Private collection
  - src: /assets/images/late-20th-century/04.jpg
    title: Panoptikon
    medium: Oil on canvas
    dimensions: 48 x 46 inches
    date: "1989"
    collection: 
  - src: /assets/images/late-20th-century/05.jpg
    title: Effigy
    medium: Oil and glue on canvas
    dimensions: 60 x 54 inches
    date: "1988"
    collection: 
  - src: /assets/images/late-20th-century/06.jpg
    title: Hat Trick
    medium: Oil and glue on canvas
    dimensions: 56 x 54 inches
    date: "1989"
    collection: Private collection
  - src: /assets/images/late-20th-century/07.jpg
    title: The Birds
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: "1991"
    collection: 
  - src: /assets/images/late-20th-century/08.jpg
    title: Hunter
    medium: Oil and glue on canvas
    dimensions: 56 x 54 inches
    date: "1989"
    collection: Private collection
  - src: /assets/images/late-20th-century/09.jpg
    title: Untitled No. 1
    medium: Oil and glue on canvas
    dimensions: 56 x 54 inches
    date: "1988"
    collection: Private collection
  - src: /assets/images/late-20th-century/10.jpg
    title: Untitled No. 2
    medium: Oil on canvas
    dimensions: 60 x 54 inches
    date: "1989"
    collection: Private collection
  - src: /assets/images/late-20th-century/11.jpg
    title: Dwarf Puppet Execution by Guillotine
    medium: Oil on canvas
    dimensions: 60 x 54 inches
    date: "1991"
    collection: 
  - src: /assets/images/late-20th-century/12.jpg
    title: Flawed Love
    medium: Oil on canvas
    dimensions: 48 x 48 inches
    date: "1989"
    collection: 
  - src: /assets/images/late-20th-century/13.jpg
    title: Garden
    medium: Oil on canvas
    dimensions: 36 x 36 inches
    date: "1991"
    collection: 
  - src: /assets/images/late-20th-century/14.jpg
    title: Perennial
    medium: Oil on canvas
    dimensions: 40 x 32 inches
    date: "1990"
    collection: 
  - src: /assets/images/late-20th-century/15.jpg
    title: Tycho Brahe
    medium: Oil on canvas
    dimensions: 44 x 44 inches
    date: "1991"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/late-20th-century/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: "0000"
  #   collection:
---