---
title: Morphopolis
year: "2014"
layout: project.njk
images:
  - src: /assets/images/morphopolis/01.jpg
    title: 26 Subjects
    medium: Acrylic on canvas
    dimensions: 38 x 42 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/02.jpg
    title: Untitled (1)
    medium: Acrylic on canvas
    dimensions: 26 x 32 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/03.jpg
    title: Palindromic Repetitions
    medium: Acrylic on canvas
    dimensions: 24 x 30 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/04.jpg
    title: Tautology
    medium: Acrylic on canvas
    dimensions: 24 x 28 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/05.jpg
    title: Working Session
    medium: Acrylic on canvas
    dimensions: 30 x 34 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/06.jpg
    title: Reassembly
    medium: Acrylic on canvas
    dimensions: 24 x 30 inches
    date: 2014
    collection: Private collection
  - src: /assets/images/morphopolis/07.jpg
    title: Untitled (2)
    medium: Acrylic on canvas
    dimensions: 36 x 48 inches
    date: 2014
    collection:
  - src: /assets/images/morphopolis/08.jpg
    title: Untitled (3)
    medium: Acrylic on canvas
    dimensions: 36 x 48 inches
    date: 2015
    collection: Private collection
  - src: /assets/images/morphopolis/09.jpg
    title: Bleeding Hearts
    medium: Acrylic on canvas
    dimensions: 60 x 48 inches
    date: 2015
    collection: Private collection
  - src: /assets/images/morphopolis/10.jpg
    title: Entanglements
    medium: Acrylic on canvas
    dimensions: 32 x 48 inches
    date: 2015
    collection:
---
