---
title: Preparatory Academy
year: "2021"
layout: project.njk
images:
  - src: /assets/images/preparatory-academy/01.jpg
    title: Recourse
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/02.jpg
    title: Transit
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/03.jpg
    title: Gesticulating
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/04.jpg
    title: Homebody
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/05.jpg
    title: The Challenge of Buoyancy
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/06.jpg
    title: Crossing the Cecina
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/07.jpg
    title: The Bottom Falls Out
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/08.jpg
    title: Wayfaring
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/09.jpg
    title: Hopeful Moment
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/10.jpg
    title: Old Town
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/11.jpg
    title: Surf Avenue
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/12.jpg
    title: Hunting Party
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/13.jpg
    title: Patineur
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/14.jpg
    title: Broken Promise
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/15.jpg
    title: Caricature
    medium: Oil and shellac on printmaking paper
    dimensions: 34 x 24 inches
    date: 2019
    collection: 
  - src: /assets/images/preparatory-academy/16.jpg
    title: Untitled #1
    medium: Oil and acrylic on cardboard
    dimensions: 36 x 24 inches
    date: 2019
    collection: Private collection
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/preparatory-academy/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---