---
title: Project One
year: 2023
layout: project.njk
images:
  - src: /assets/images/placeholder.svg
    title: Untitled No. 1
    medium: Oil on canvas
    dimensions: 48 x 36 inches
    date: 2023
    collection: Collection of the Artist
  - src: /assets/images/placeholder.svg
    title: Untitled No. 2
    medium: Oil on canvas
    dimensions: 48 x 36 inches
    date: 2023
  - src: /assets/images/placeholder.svg
    title: Untitled No. 3
    medium: Oil on canvas
    dimensions: 48 x 36 inches
    date: 2022
    collection: Private Collection, New York
---