---
title: Towers
year: "2017"
layout: project.njk
images:
  - src: /assets/images/towers/01.jpg
    title: Equivocal Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/02.jpg
    title: Emergent Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/03.jpg
    title: Anthropomorphic Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/04.jpg
    title: Assertive Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/05.jpg
    title: Split Towers
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/06.jpg
    title: Calving Towers
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/07.jpg
    title: Resplendent Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/08.jpg
    title: Intake Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/09.jpg
    title: Walking Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  - src: /assets/images/towers/10.jpg
    title: Ambivalent Tower
    medium: Tempera on paper
    dimensions: 36 x 24 inches
    date: "2017"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/towers/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---