---
title: Unbearable Sculpture
year: "2010"
layout: project.njk
images:
  - src: /assets/images/unbearable-sculpture/02.jpg
    title: Unbearable Sculpture In an Italian Regional Museum
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/03.jpg
    title: An Unbearable Sculpture in a Museum Exhibition
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/04.jpg
    title: Unbearable Sculpture in Room with Transom Windows
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/05.jpg
    title: Unbearable Sculpture by an Open Window
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/06.jpg
    title: Unbearable Sculpture in a Boarded-up Room
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/07.jpg
    title: Unbearable Sculpture in an Attic
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/08.jpg
    title: Unbearable Sculpture Composed of Swiss Cheese
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/09.jpg
    title: Unbearable Sculpture in a Flat on Rue Des Martyrs, Paris
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/10.jpg
    title: Unbearable Sculpture with a Sofa
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/11.jpg
    title: Unbearable Sculpture in the Form of a Shish Kabob
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  - src: /assets/images/unbearable-sculpture/12.jpg
    title: Unbearable Sculpture in the Form of a Tree Trunk Beneath a Skylight
    medium: Conté on paper
    dimensions: 23 x 34 inches
    date: "2008"
    collection: 
  # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  # - src: /assets/images/unbearable-sculpture/next.jpg
  #   title: Title of work
  #   medium: Medium
  #   dimensions: 00 x 00 inches
  #   date: 2013
  #   collection:
---